/* Legend Component Styles */

.legend {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 5px;
}

.legend-swatch {
    display: block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    flex: 0 0 auto;
}
