/* Utility helpers (small, reusable, non-thematic) */

/* Offscreen but selectable (for clipboard fallbacks, etc.) */
.u-offscreen {
  position: fixed;
  left: -9999px;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}
